.navbar {

    margin-bottom: 0;

    border-radius: 0;

    color: #474747; /* text color */

    padding: 1% 0;

    font-size: 1.2em;  /* This increases text font */

    border: 0; /* the black thing */

}

.navbar-brand {

    float: left;

    min-height: 55px;

    padding: 0 15px 5px;

}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {

    color: #FFF;

    background-color: #222222; 

}

.navbar-inverse .navbar-nav li a { color: #D5D5D5; /* text color?? */ }

.btn { /* LOGIN button */

    font-size: 18px;

    color: #FFF;

    padding: 12px 22px;

    background: #000000;

    border: 2px solid #FFF;

}

#icon {

    max-width: 200px; 

    margin: 1% auto;

    margin-top: 30px;

    margin-bottom: 26px;

}

footer {

    width: 100%;

    background-color: #222;

    padding: 5%;

    color: #FFF;

}

.fa {

    padding: 15px; 

    font-size: 25px;

    color: #FFF;

}

.fa:hover {

    color: #D5D5D5;

    text-decoration: none;

}

 

@media (max-width: 900px) {

.fa {

    font-size: 20px;

    padding: 10px;

}

}

 

@media (max-width: 600px) { 

#icon { max-width: 150px; }

h2 { /* h4 size in mobile */ font-size: 1.7em; }

}

body {

    height: 100%;

    background: url(https://media.istockphoto.com/photos/vintage-retro-grungy-background-design-and-pattern-texture-picture-id656453072?k=6&m=656453072&s=612x612&w=0&h=4TW6UwMWJrHwF4SiNBwCZfZNJ1jVvkwgz3agbGBihyE=) no-repeat center center fixed;

    background-size: cover;

}

.center-block { float: none; }

 

form {

    margin: 15% auto 15% auto;

    padding: 5%;

    background: rgba(0,0,0,0.7);

    color: #FFF;

}